
:root{
    --color-azul:#2514dc;
    --color-negro: #030209;
    --color-blanco: #f0f8ff;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 50%;
}
.logo a{
    font-size: 25px;
    text-decoration: none;
    color: var(--color-blanco);
}
.nav__bar{
    width: 50%;
    display: flex;
    justify-content: flex-end;

}
.items__nav{
    list-style: none;
}
.items__nav a{
    font-size: 15px;
    text-decoration: none;
    list-style: none;
    color: var(--color-blanco);
    transition: .5s;
}

.items__nav a:hover{
    color: var(--color-azul);
    transition: .5s;
}

.items__nav:nth-child(1){
    display: none;
}
.items__nav:nth-child(2){
    display: none;
}
.items__nav:nth-child(3){
    display: none;
}
.items__nav:nth-child(4){
    display: none;
}
.items__nav:nth-child(5){
    display: none;
}


@media screen and (min-width: 600px) {
    .logo a{
        font-size: 35px;
    }   
    .items__nav a{
        font-size: 25px;
    } 
}


@media screen and (min-width: 1024px) {

    .header{
        height: 10vh;
        width: 100%;
        padding: 10px;
    }

    .logo{
        width: 30%;
    }

    .logo a{
        font-size: 40px;
    }    

    .nav__bar{
        width: 70%;
    }
    .lista__nav{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 20px;
    }
    .items__nav:nth-child(1){
        display: flex;
    }
    .items__nav:nth-child(2){
        display: flex;
    }
    .items__nav:nth-child(3){
        display: flex;
    }
    .items__nav:nth-child(4){
        display: flex;
    }
    .items__nav:nth-child(5){
        display: flex;
    }
    
}

