:root{
    --color-azul:#2514dc;
    --color-negro: #030209;
    --color-blanco: #f0f8ff;
}

.hobbies__skills{
    text-align: center;
}

.skills__title{
    font-size: 30px;
}
.hobbies__title{
    font-size: 30px;
}
.skills_content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.skills__items{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    gap: 10px;
    transition: 1s;
}

.skills__items:hover{
    color: var(--color-azul);
    transition: 1s;
}

.skills__items p{
    font-size: 15px;
}

.hobbies__content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.hobbies__items{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    gap: 10px 20px;
    transition: 1s; 
}

.hobbies__items:hover{
    color: var(--color-azul);
    transition: 1s;
}

@media screen and (min-width: 600px) {
    
    .skills__title{
        font-size: 40px;
    }
    .hobbies__title{
        font-size: 40px;
    }
    .skills__items p{
        font-size: 20px;
    }
    .hobbies__items p{
        font-size: 20px;
    }

}

@media screen and (min-width: 1024px) {
    
    .skills__title{
        font-size: 50px;
    }
    .hobbies__title{
        font-size: 50px;
    }
    .skills__items p{
        font-size: 20px;
    }
    .hobbies__items p{
        font-size: 20px;
    }

    .hobbies__content{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-around;
    }

    .skills_content{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-around;
    }
    

}